/* Variabele Kleuren */
/* Variabele Kleuren */
/* Variabele Kleuren */

:root {
	--blauw: #242a36;
	--lichtblauw: #3d465a;
	--goud: #bda76e;
	--wit: #fbfbfb;
}

/* Homepage */
/* Homepage */
/* Homepage */

/* Welkom Sectie Homepage */
/* Welkom Sectie Homepage */
/* Welkom Sectie Homepage */

.welkom {
	margin: -1.5rem 0rem;
	width: 100vw;
	background: url(../images/background-pattern-gold.jpg);
}

.welkom:focus {
	border: none;
}

.welkom .container {
	padding: 10rem 5rem;
	display: flex;
	align-items: center;
	height: 100%;
}

.welkom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.welkom-container h1 {
	margin: 0px 0px 50px 0px;
}

/* Banner Sectie Homepage */
/* Banner Sectie Homepage */
/* Banner Sectie Homepage */

.content-banner {
	position: relative;
	margin: -1.5rem 0rem;
	height: 400px;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.content-banner:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(120deg, var(--blauw), var(--goud));
	opacity: 0.7;
	z-index: 1;
}

/* Kamers Sectie Homepage */
/* Kamers Sectie Homepage */
/* Kamers Sectie Homepage */

.kamers .container {
	padding: 10rem 2rem;
}

.kamer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kamer-container h1 {
	color: var(--blauw);
	font-size: 2.8rem;
}

.kamer-container .boeken-button {
	border: none;
	background-color: var(--blauw);
	color: var(--wit);
	border-radius: 5px;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.kamer-container .boeken-button:hover {
	background-color: var(--lichtblauw);
	color: var(--wit);
}

/* Contactpagina */
/* Contactpagina */
/* Contactpagina */

.contact-moreinfo iframe {
	margin: 35px 0px 15px 0px;
}

.contact-moreinfo h1 {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 2rem;
}

.facebook-icon {
	width: 50px;
	height: 50px;
	max-width: initial;
	min-width: initial;
	min-height: initial;
	background-color: var(--blauw);
	border-radius: 3px;
	padding: 10px;
	color: white;
	cursor: pointer;
}

.twitter-icon {
	width: 50px;
	height: 50px;
	max-width: initial;
	min-width: initial;
	min-height: initial;
	background-color: var(--blauw);
	border-radius: 3px;
	padding: 10px;
	color: white;
	cursor: pointer;
}

.instagram-icon {
	width: 50px;
	height: 50px;
	max-width: initial;
	min-width: initial;
	min-height: initial;
	background-color: var(--blauw);
	border-radius: 3px;
	padding: 10px;
	color: white;
	cursor: pointer;
}
